.loader,
.error {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 64px 0;
}

.content {
  margin-top: 32px;
}

.graphContainer {
  margin-top: 32px;
}

.sectionGrid {
  margin-top: 24px;
}
